$padding: 6px;
$favouritcolor: #ff0000;
$balls: arial;
$balls2: green;
nav {
    ul {
        margin: 0;
        padding: $padding;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: $padding 12px;
        text-decoration: none;
    }
}

p,
h2,
h3 {
    padding: $padding;
    color: $favouritcolor;
    font-family: $balls;
    background-color: $balls2;
}

h1 {
    color: $favouritcolor;
    padding: $padding;
    font-family: $balls;
}